<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>name</key>
    <string>Square</string>
    <key>uuid</key>
    <string>7F57AEF4-13A7-4C18-9A52-4AC913934A6F</string>
  </dict>
</plist>
